<mat-card class="header-card">
	<h3 class="mat-display-2">Cá bhfuil mo thraein?</h3>
	<p><a class="mat-subheading-1" href="https://youtu.be/xg4jjxCJyYM?t=33" target="_blank">https://youtu.be/xg4jjxCJyYM?t=33</a></p>

	<div class="header-button-tray">
		<a mat-raised-button matTooltip="Github Repo" color="primary" href="https://github.com/jpshrader/irish-railways-front-end" target="_blank">
			<mat-icon>code</mat-icon>
		</a>

		<a mat-raised-button matTooltip="LinkedIn" href="https://www.linkedin.com/in/jackshrader/" target="_blank">
			<mat-icon>work</mat-icon>
		</a>

		<a mat-raised-button matTooltip="Donate (if ye like)" color="accent" href="https://www.paypal.me/johnshrader" target="_blank">
			<mat-icon>euro_symbol</mat-icon>
		</a>
	</div>
</mat-card>

<mat-tab-group class="tab-group mat-elevation-z4">
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon matTooltip="Trains">directions_transit</mat-icon>
		</ng-template>

		<div *ngIf="!trains.isLoaded" class="loading-state">
			<mat-spinner
				mode="indeterminate"
				color="primary"
				style="margin:0 auto"
			>
			</mat-spinner>
		</div>

		<div *ngIf="trains.isLoaded && (!trains.resources || trains.resources.length === 0)">
			<div class="empty-train-state">
				<mat-icon style="font-size: 150px; height:150px; width:150px">sentiment_very_dissatisfied</mat-icon>
				<p class="mat-h1" style="margin-bottom: 0px; padding-bottom: 1%">There are no trains running at the moment</p>
			</div>
		</div>

		<mat-accordion *ngIf="trains.resources && trains.resources.length > 0" class="train-accordion">
			<mat-expansion-panel *ngFor='let train of trains.resources'>
				<mat-expansion-panel-header>
					<mat-panel-title>
						<span *ngIf="train.minutesLate == 0" matTooltip="On schedule"><b>{{ train.origin }} </b>&#8594; <b>{{ train.destination }}</b></span>
						<span *ngIf="train.minutesLate > 0" matTooltip="{{ train.minutesLate }} minutes late" style="color: #ffab40;" ><b>{{ train.origin }} </b>&#8594; <b>{{ train.destination }}</b></span>
						<span *ngIf="train.minutesLate < 0" matTooltip="{{ getAbsoluteValue(train.minutesLate) }} minutes early" style="color: #4caf50;"><b>{{ train.origin }} </b>&#8594; <b>{{ train.destination }}</b></span>
					</mat-panel-title>
					<mat-panel-description>
						<b>{{ train.message }}</b>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<mat-panel-description>
					<mat-list style="flex:inherit;">
						<mat-list-item><b style="margin-right: 5px;">Code: </b>{{ train.code }}</mat-list-item>
						<mat-list-item><b style="margin-right: 5px;">Latest: </b>{{ train.message }}</mat-list-item>
						<mat-list-item><b style="margin-right: 5px;">Status: </b>{{ train.status }}</mat-list-item>
						<mat-list-item><b style="margin-right: 5px;">Origin: </b>{{ train.origin }}</mat-list-item>
						<mat-list-item><b style="margin-right: 5px;">Destination: </b>{{ train.destination }}</mat-list-item>
						<mat-list-item *ngIf="train.minutesLate != 0"><b style="margin-right: 5px;">Minutes Late: </b>{{ train.minutesLate }}</mat-list-item>
						<mat-list-item><button mat-raised-button (click)="openScheduleDialog(train)">View Schedule</button></mat-list-item>
					</mat-list>
				</mat-panel-description>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-tab>

	<mat-tab>
			<ng-template mat-tab-label>
					<mat-icon matTooltip="Stations">store</mat-icon>
			</ng-template>

			<div *ngIf="!stations.isLoaded" class="loading-state">
				<mat-spinner
					mode="indeterminate"
					color="primary"
					style="margin:0 auto"
				>
				</mat-spinner>
			</div>

			<div *ngIf="stations.isLoaded && (!stations.resources || stations.resources.length === 0)">
				<div class="empty-train-state">
					<mat-icon style="font-size: 150px; height:150px; width:150px">sentiment_very_dissatisfied</mat-icon>
					<p class="mat-h1" style="margin-bottom: 0px; padding-bottom: 1%">There are no stations available at the moment</p>
				</div>
			</div>

			<mat-accordion *ngIf="stations.resources && stations.resources.length > 0" class="train-accordion">
				<mat-expansion-panel *ngFor='let station of stations.resources'>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<span><b>{{ station.name }}</b></span>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<mat-panel-description>
						<mat-list style="flex:inherit;">
							<mat-list-item><b style="margin-right: 5px;">Id: </b>{{ station.id }}</mat-list-item>
							<mat-list-item><button mat-raised-button (click)="openStationDialog(station)">View Schedule</button></mat-list-item>
						</mat-list>
					</mat-panel-description>
				</mat-expansion-panel>
			</mat-accordion>


		</mat-tab>
</mat-tab-group>
