.header-card {
    text-align: center;
    margin: 2%;
}

.header-button-tray {
    margin-left: -2.5%;
}

.header-button-tray > a {
    margin-left: 2%;
}

.mat-display-2 {
    margin-bottom: 2%;
}

.tab-group {
    margin:2%;
}

.mat-tab-labels {
    background: #FFFFFF;
}

.empty-train-state {
    background: #FFFFFF;
    text-align: center;
}

.loading-state {
    background: #FFFFFF;
    padding: 2%;
}

.tab-label {
    text-align: center;
    padding: 1%;
}

.title-icon {
    margin-top: -2px;
}