<h2 mat-dialog-title>{{ train.code }} Schedule ({{ train.origin }} &#8594; {{ train.destination }})</h2>
<mat-dialog-content class="mat-typography">
	<mat-accordion *ngIf="train.movements" class="train-accordion">
		<mat-expansion-panel *ngFor='let movement of train.movements'>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<b>{{ movement.locationFullName }}</b>
				</mat-panel-title>
				<mat-panel-description>
					<span><b>Arriving: {{ movement.expectedArrival }}  Derparting {{ movement.expectedDeparture }} </b></span>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-panel-description>
				<mat-list style="flex:inherit;">
					<mat-list-item><b style="margin-right: 5px;">Derparting: </b>{{ movement.scheduledDeparture }}</mat-list-item>
					<mat-list-item><b style="margin-right: 5px;">Arriving: </b>{{ movement.scheduledArrival }}</mat-list-item>
				</mat-list>
			</mat-panel-description>
		</mat-expansion-panel>
	</mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
